{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
    <div class="container">
        <h1 class="text-center">Bienvenue à bord</h1>
        <p class="text-center">Location de voiture 24h/24h et 7j/7</p>
    </div>
    {# ! AFFICHER LES VOITURES EN DESSOUS #}
{% block body %}

{% endblock %}
