{% extends "base.html.twig" %}

{% block title %}
    Modifier Commandes
{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center text-primary my-5">Modifier date de réservation</h1>
        {{ form_start(edit) }}
            
        {{ form_end(edit) }}
    </div>
{% endblock %}